:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --poster-text-color: #ffffff;
  --background-color: #2f303a;
  --background-team-color: #f5f4fa;
}
body {
        color: var(--primary-text-color);
        font-family: 'Roboto', sans-serif;
}
.list 
{
        list-style: none;
}
.link
{
        text-decoration: none;
}
.link:hover, .link:focus
{
        color: var(--accent-color);
}
.button:hover, .button:focus 
{
 background-color: var(--accent-color);
color: var(--poster-text-color);
}
.title-header
{
        
        background: var(--poster-text-color);
}

.log 
{
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;


}
.stile-log
{
        color: var(--title-text-color);
}

.title-nav 
{
        list-style:nome;
}
.link-nav 
{
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        
}
.milto-addre
{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--accent-color);
}
.tel-addres
{
        font-family: 'Roboto', sans-serif;
        text-decoration: none; 
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}

.hiro {
       background-color: var(--background-color);
       width: 1600px;
       height: 600px;
       left: 0px;
       top: 80px;
}
.text-hiro {
       color: var(--poster-text-color);
       text-align: center;
       padding: 200px 452px 20px 452px;
       font-family: 'Roboto';
       font-weight: 900;
       font-size: 44px;
       line-height: 1.36;
       text-align: center;
       letter-spacing: 0.06em;

 }
 .button
{
        color: var(--background-color);
        background-color: var(--background-team-color);
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.19px;

}
 .title-button 
 {

text-align: center;
 }
    /*-------------------------WORK------------------*/
 .text-work
 {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
 }
.text-gallery
{
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16px;
        text-align: center;
        letter-spacing: 0.03em;
}


.text-command
{
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16px;
        text-align: center;
        letter-spacing: 0.03em;
}
        

.title-text
{
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

}
.desckription-work
{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
}

/* footer style*/ 

.footer
{
        background: var(--background-color);
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2094px;
}
.stile-log-footer
{
        color: var(--poster-text-color);
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
}
.footer-log
{
        padding-left: 215px;
}
.title-footer
{
        padding-left: 215px;
}
.link-blank
{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--poster-text-color);
}
.link-footer
{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.milto-addres
{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.02em;
        color: var(--title-text-color);

}
