:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --poster-text-color: #ffffff;
  --background-color: #2f303a;
  --background-team-color: #f5f4fa;
  --button-color:#188ce8;
  --color-fon:#EEEEEE;
  --colo-secktion:#ECECEC;
  --color-main:#F5F5F5;
}
body {
        color: var(--primary-text-color);
        font-family: 'Roboto', sans-serif;
        background-color: var(--poster-text-color);
        font-size: 14px;
        letter-spacing: 0.03em;

}
.list 
{
        list-style: none;
}
.link
{
        text-decoration: none;
        
}
.link:hover, .link:focus
{
        color: var(--accent-color);
}
.button:hover, .button:focus 
{
 background-color: var(--background-team-color);
color: var(--background-color);
}
/*--------------Button portfolio-----------*/
.port-button
{
        color: var(--background-color);
        background-color:var(--background-team-color) ;
        font-family: inherit;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;

}
.port-button:hover, .port-button:focus
{
        color: var(--poster-text-color);
        background-color: var(--button-color);
}
/*----------------------------------------HEDER----------------*/
.title-header
{
        
        background: var(--poster-text-color);
}

.log 
{
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;

}
.stile-log
{
        color: var(--title-text-color);
}


/*.title-nav*/ 

     /*   list-style:nome;*/
 
.link-nav 
{
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        
}
.current
{
        color: var(--accent-color);
}

.milto-addres
{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.tel-addres
{
        font-family: 'Roboto', sans-serif;
        text-decoration: none; 
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
/*-------------------------------------------HIRO-----------------------*/

.hiro {
       background-color: var(--background-color);

     /*  width: 1600px;*/
       height: 600px;
       text-align: center;
       
}
.text-hiro {
       color: var(--poster-text-color);
      /* text-align: center;*/
      /* padding: 200px 452px 20px 452px;*/
       font-family: 'Roboto';
       font-weight: 900;
       font-size: 44px;
       line-height: 1.36;
       text-align: center;
       letter-spacing: 0.06em;

 }

 .button
{
        color: var(--poster-text-color);
        background-color: var(--button-color);
        font-family: 'Roboto';
       /* text-align: center;*/
        width: 216px;
        cursor: pointer;
        /*height: 50px;*/
        font-weight: 700;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;

}
.button-list
{
        background-color: var(--poster-text-color);
}
 .title-button 
 {
text-align: center;
 }
    /*-------------------------WORK------------------*/
   /* .main
    {
        background-color: var(--color-main);
    }*/
    .main-list
    {
        background-color: var(--poster-text-color) ; 
    }
   
 .text-work
 {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
 }
 .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
      }
.text-gallery
{
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16px;
        text-align: center;
        letter-spacing: 0.03em;
}
/*----------COMMAND--------------*/
.command 
{
       /* width: 1600px;*/
        background-color: var(--background-team-color);
}

.text-command
{
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
}
        

.title-text
{
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;

}
.desckription-work
{
        font-weight: 400;
       /* font-size: 16px;
        line-height: 1.71;*/
        letter-spacing: 0.03em;
        /*color: var(--primary-text-color);*/
     
}
.desckription
{
        font-family: 'Roboto';
        color: var(--primary-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;

}
.desckription-port
{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;

}
/* -----------------------------------footer style-------------------------*/ 

.footer
{
        background: var(--background-color);
       /* width: 1600px;*/
       /* height: 252px;*/
       /* left: 0px; */
        top: 2094px;
}
.stile-log-footer
{
        color: var(--poster-text-color);
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
}
.footer-log
{
/*        padding-left: 215px;*/
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}
.address-footer
{
        font-style: normal;
}
/*.title-footer*/

        /*padding-left: 215px;*/

.link-blank
{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--poster-text-color);
       
}
.link-footer
{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
/*.milto-addres
{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--primary-text-color);

}*/
